language: c
os: osx
compiler: clang
osx_image: xcode10.1
cache:
directories:
  - /usr/local/Homebrew/Library/Homebrew/vendor/bundle
branches:
  only:
    - master

before_install:
  - sudo chown -R "$USER" "$(brew --repo)"
  - travis_retry brew update
  - HOMEBREW_TAP_DIR="$(brew --repo "$TRAVIS_REPO_SLUG")"
  - mkdir -p "$HOMEBREW_TAP_DIR"
  - rm -rf "$HOMEBREW_TAP_DIR"
  - ln -s "$PWD" "$HOMEBREW_TAP_DIR"

script:
  - sudo softwareupdate -l
  - sudo softwareupdate -i "Command Line Tools (macOS High Sierra version 10.13) for Xcode-10.1"
  - brew test-bot --ci-auto
